.venv/
venv/
env/
.env
backend/.env
__pycache__/
backend/__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

frontend/node_modules/
frontend/dist/
frontend/build/
frontend/*.log
frontend/.next/
frontend/pnpm-lock.yaml
frontend/pnpm-workspace.yaml
